.doctor-layout {
  display: flex;
  min-height: 100vh;
}

.profile-container {
  flex: 1;
  padding: 30px;
  background: #f7f9fc;
  margin-left: 300px !important;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
}

select,
textarea,
input {
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 150px;
  padding: 10px;
  background: #1e40af;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.upload-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}
.progress {
  font-size: 13px;
  color: #333;
}

.delete-btn {
  border: none;
  background: transparent;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.delete-btn:hover {
  color: darkred;
}
