<div class="auth-card">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Password" />

    <div *ngIf="error" class="error">{{ error }}</div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>
  </form>

  <p class="muted">Don't have account? <a routerLink="/auth/register">Register</a></p>
</div>
